---
import Header from "../components/Header.astro";
import Marquee from "../components/Marquee";
import Footer from "../components/Footer.astro";
import BmiCalculator from "../components/BmiCalculator";
import "../styles/global.css";
---

<!DOCTYPE html>
<html lang="th">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
		<title>Reading Tracker</title>
	</head>
	<body class="font-sans bg-kala-black flex flex-col justify-between min-h-screen m-0">
		<Header />
		<Marquee client:only="solid-js" />
		<main class="flex-grow flex items-center justify-center">
			<BmiCalculator client:only="solid-js" />
		</main>
		<Footer />
	</body>
</html>
